@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121214;
    width: 100%;
    min-height: 100vh;
    /*para centrlizar o container*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #343439;
    padding: 30px 40px;
    min-width: 470px ;
    color: #efefef;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389); 
    /*arredondar a tabela*/
    border-radius: 12px;
    /*posicionar os elementos no centro*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2{
    font-size: 30px;
    font-weight: 700;
    /*para fazer o título subir um pouco*/
    margin-bottom: 20px;
}

.input-group{
    /*display: flex para os inputs ficarem lado a lado*/
    display: flex;
    padding: 20px 0px;
    /*gap pra espaçar eles*/
    gap: 50px;
}

.input-field{
    /*pra label (min e max) ficar em cima do input*/
    display: flex;
    flex-direction: column;
}

/*para trabalhar na parte da label*/
.input-field label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

/*trabalhando no campo do input*/
.input-field input{
    /*tirando a cor original e as bordas*/
    background-color: transparent;
    border: none;
    /*adicionando a linha roxa embaixo*/
    border-bottom: 2px solid #185a9d;
    font-size: 18px;
    border-radius: 2px;
    padding: 5px;
    /*para mudar a cor do número quando eu o digito*/
    color: #fff;
}

/*quando o foco for o input..*/
.input-field input:focus{
    outline: none;
    /* faz com que o botão fique com um tom de verde mais destacado quando o usuário clica nele */
    border-bottom: 3px solid #43cea2;
}

/*trabalhando o botão*/
#generate{
    background-color:#43cea2;
    border: none;
    /*tamanho do botão*/
    padding: 12px 20px;
    /*arredondando o botão*/
    border-radius: 4px;
    /*largura do botão*/
    width: 100%;
    margin: 20px 0px;
    /*alterando a cor da fonte de dentro do botão*/
    color: #fff;
    font-weight: bold;
    /*efeito para quando o cursor passar por cima do botão*/
    cursor: pointer;
}

/*trabalhando a parte dos resultados*/
#result{
    font-size: 50px;
    font-weight: 600;
}